/* @import url('./colors.css'); */

.bg-primary {
    background-color: var(--primary);
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-success {
    background-color: var(--success);
}

.bg-success-light {
    background-color: var(--success-light);
}

.bg-warning {
    background-color: var(--warning);
}

.bg-warning-light {
    background-color: var(--warning-light);
}

.bg-danger {
    background-color: var(--danger);
}

.bg-danger-light {
    background-color: var(--danger-light);
}

