

.playlist { 
    /* border: 1px solid black; */
    padding: 1rem;
    text-align: center;
    margin: 0.4rem 0;
}

.playlist__info  .playlist__input{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

 .playlist__logo{
    margin-left: 1rem;
    display: flex;
}

.playlist__input input {
    background-color: inherit;
}



