@import url(../../Components/CSS/form.css);
@import url(../../Components/CSS/form.css);

.playlist { 
    /* border: 1px solid black; */
    padding: 1rem;
    text-align: center;
    margin: 0.4rem 0;
}

.playlist_info .toggle_input{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.toggle_input input {
    background-color: inherit;
}

.playlist_info_logo {
    margin-left: 1rem;
    display: flex;
}